#nav{
	width: 100px;
	height: 100%;
	padding-top: 100px;
	background-color:rgba(135,206,250,0.7);
	position: fixed;
	z-index: 2;
	left: -70px;
	top: 0;
}
.img{
	position: absolute;
	right: 5px;
	top: 10px;
}
#nav li{
	width: 60px;
	height: 80px;
	margin-left:10px;
	margin-bottom: 30px;
	
}
#nav li p{
	font-size: 14px;
	color:#FFFFFF;
	text-align: center;
	line-height: 30px;
}
#aside{
	width:100%;
	padding-left:30px;
	background-color: 	#F5F5F5;
}
#banner{
	height: 60px;
	overflow: hidden;
	border-bottom: 1px #999 solid;
}
#banner p{
	font-size: 18px;
	color:  	#696969;
	line-height: 60px;
	float: left;
	margin: 0 20px;
}
#banner img{
	float: left;
	margin-top: 25px;
}
#middle{
	font-size: 15px;
	height: 90px;
	border-bottom: 1px #999 solid;
}
#topic{
	margin: 10px 20px;
	line-height: 20px;
}
#choose{
	font-size: 15px;
	line-height: 30px;
	display: flex;
	justify-content: flex-start;
}
#name{
	display: flex;
	justify-content: flex-start;
	margin-left: 20px;
	position: relative;
}
#name input{
	width:180px;
	height: 30px;
	margin: 0 auto;
}
#down{
	width:180px;
	height: 200px;
	position: absolute;
	left: 60px;
	top:30px ;
	border: 1px #999 solid;
	background-color: #FFFFFF;
	overflow-y: scroll;
	display: none;
	z-index: 2;
}
#down li{
	border-bottom: 1px #ccc dotted;
}
#time{
	margin-left: 20px;
}
#time input{
	width:150px;
	height:30px;
}

#chartmain{
	background-color:'#FFFFCC';
	margin:50px auto;
}